* {
    font-family: 'SDSamliphopangcheBasic', 'tmon', 'Metropolis';
    text-align: center;
    border: 0px;
    background-color: #F0F0F0;
}
#btn {
    text-align: center;
}

a {
    text-decoration: none;
    color: mediumblue;
}
#small {
    font-size: 11px;
}